h1{
    color:blue;
    font-size: 28px;
}
#Estudo-de-prog{
    background-color: brown;
    width: 100%;
    height: 500px;

}
#Primeiraparte{
    background-color: cornflowerblue;
    width:  20%;
    height: 200px;
}